---
title: Innovation Campus
seoDescription: A cutting-edge campus for research and learning, featuring collaborative labs, lecture halls, and green outdoor spaces.
typology: education
location: St. Gallen
status: planning
client: St. Gallen University
size: 20000 m²
date: 2027-02-15
---

A cutting-edge campus for research and learning, featuring collaborative labs, lecture halls, and green outdoor spaces.